<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="Mysql1" connectionString="SERVER=192.168.1.101; DATABASE=invise; UID=ender; PASSWORD=2804"/>
  </connectionStrings>
</configuration>